@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 4in 6in;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
}
